{% extends 'base.html'%}
{% load static%}
	
{%block content%}

<!-- search area -->
<div class="search-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <span class="close-btn"><i class="fas fa-window-close"></i></span>
                <div class="search-bar">
                    <div class="search-bar-tablecell">
                        <h3>Search For:</h3>
                        <input type="text" placeholder="Keywords">
                        <button type="submit">Search <i class="fas fa-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end search arewa -->

<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <p>Organic Information</p>
                    <h1>News Article</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end breadcrumb section -->

<!-- latest news -->
<div class="latest-news mt-150 mb-150">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-latest-news">
                    <a href="{% url 'single-news'%}"><div class="latest-news-bg news-bg-1"></div></a>
                    <div class="news-text-box">
                        <h3><a href="{% url 'single-news'%}">Exciting New Product Launches</a></h3>
                        <p class="blog-meta">
                            <span class="author"><i class="fas fa-user"></i> Admin</span>
                            <span class="date"><i class="fas fa-calendar"></i> 04 January, 2024</span>
                        </p>
                        <p class="excerpt">Stay tuned for our upcoming product launches this summer. We are introducing a new range of spices and condiments to elevate your culinary creations.</p>
                        <a href="{% url 'single-news'%}" class="read-more-btn">read more <i class="fas fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-latest-news">
                    <a href="{% url 'single-news'%}"><div class="latest-news-bg news-bg-2"></div></a>
                    <div class="news-text-box">
                        <h3><a href="{% url 'single-news'%}">Commitment to Sustainability</a></h3>
                        <p class="blog-meta">
                            <span class="author"><i class="fas fa-user"></i> Admin</span>
                            <span class="date"><i class="fas fa-calendar"></i> 05 January, 2024</span>
                        </p>
                        <p class="excerpt">At Meannan Foods, we are dedicated to sustainable practices. Learn more about our efforts to reduce environmental impact and support local communities.</p>
                        <a href="{% url 'single-news'%}" class="read-more-btn">read more <i class="fas fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-latest-news">
                    <a href="{% url 'single-news'%}"><div class="latest-news-bg news-bg-3"></div></a>
                    <div class="news-text-box">
                        <h3><a href="{% url 'single-news'%}"> Community Engagement Activities</a></h3>
                        <p class="blog-meta">
                            <span class="author"><i class="fas fa-user"></i> Admin</span>
                            <span class="date"><i class="fas fa-calendar"></i> 06 January, 2024</span>
                        </p>
                        <p class="excerpt">We believe in giving back to the community. Join us in our upcoming events and initiatives aimed at fostering growth and well-being in the regions we operate.

                        </p>
                        <a href="{% url 'single-news'%}" class="read-more-btn">read more <i class="fas fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-latest-news">
                    <a href="{% url 'single-news'%}"><div class="latest-news-bg news-bg-4"></div></a>
                    <div class="news-text-box">
                        <h3><a href="{% url 'single-news'%}">Award-Winning Quality</a></h3>
                        <p class="blog-meta">
                            <span class="author"><i class="fas fa-user"></i> Admin</span>
                            <span class="date"><i class="fas fa-calendar"></i> 07 January, 2024</span>
                        </p>
                        <p class="excerpt">We are proud to announce that Meannan Foods has been recognized for its outstanding quality and commitment to excellence. Our spices and condiments recently received the prestigious Golden Taste Award.</p>
                        <a href="{% url 'single-news'%}" class="read-more-btn">read more <i class="fas fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-latest-news">
                    <a href="{% url 'single-news'%}"><div class="latest-news-bg news-bg-5"></div></a>
                    <div class="news-text-box">
                        <h3><a href="{% url 'single-news'%}">Expansion into New Markets</a></h3>
                        <p class="blog-meta">
                            <span class="author"><i class="fas fa-user"></i> Admin</span>
                            <span class="date"><i class="fas fa-calendar"></i> 08 January, 2024</span>
                        </p>
                        <p class="excerpt">Exciting news! Meannan Foods is expanding its reach into new international markets. Our high-quality products will soon be available in Europe and North America, bringing our unique flavors to a global audience.</p>
                        <a href="{% url 'single-news'%}" class="read-more-btn">read more <i class="fas fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-latest-news">
                    <a href="{% url 'single-news'%}"><div class="latest-news-bg news-bg-6"></div></a>
                    <div class="news-text-box">
                        <h3><a href="{% url 'single-news'%}"> Customer Success Stories</a></h3>
                        <p class="blog-meta">
                            <span class="author"><i class="fas fa-user"></i> Admin</span>
                            <span class="date"><i class="fas fa-calendar"></i> 10 January, 2024</span>
                        </p>
                        <p class="excerpt">We love hearing from our customers! Read about how Meannan Foods' products have transformed meals and supported healthy lifestyles. Share your story with us for a chance to be featured on our website.</p>
                        <a href="{% url 'single-news'%}" class="read-more-btn">read more <i class="fas fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <div class="pagination-wrap">
                            <ul>
                                <li><a href="#">Prev</a></li>
                                <li><a href="#">1</a></li>
                                <li><a class="active" href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">Next</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end latest news -->
{% endblock content%}